################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RSA_Demo/.vs/RSA_Demo
/RSA_Demo/RSA_Demo/bin/Debug/netcoreapp3.1
/RSA_Demo/RSA_Demo/obj
/RSA_Demo/bin/Debug/netcoreapp3.1
/RSA_Demo/obj
